<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsApp12.My.MySettings.Español_BDConnectionString"
            connectionString="Data Source=DESKTOP-SDOKEF0;Initial Catalog=Español_BD;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="WindowsApp12.My.MySettings.Sociales_BDConnectionString"
            connectionString="Data Source=DESKTOP-SDOKEF0;Initial Catalog=Sociales_BD;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="WindowsApp12.My.MySettings.Pedagojia_BDConnectionString"
            connectionString="Data Source=DESKTOP-SDOKEF0;Initial Catalog=Pedagojia_BD;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="WindowsApp12.My.MySettings.Administracion_BDConnectionString"
            connectionString="Data Source=DESKTOP-SDOKEF0;Initial Catalog=Administracion_BD;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>